.wrapper{
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}
.users_block{

}
.albums_block{
    align-self:flex-start;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    flex-basis: 700px;
}
.user_card {
    display: flex;
    align-items: center;
    text-align: center;
    background: lightblue;
    border-radius: 10px;
    width: 220px;
    margin-bottom: 5px;
    padding: 3px;

}
.user_card__img {
    width: 40px;
    height: 40px;
}
.user_card__content{
    flex-grow: 1;
}
.user_card__name{
    margin: 3px 0;
    font-size: 13px;
}
.user_card__nickname{
    margin: 5px 0;
}
.user_card__idUser{
    margin: 0;
    color: brown;
    font-size: 10px;
}
.user_card__link {
    text-decoration: none;
    display: inline-block;
    background: azure;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
}
.user_card__link_active{
    text-decoration: none;
    display: inline-block;
    background: azure;
    font-weight: bold;
    color: hotpink;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
}

