.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: darkcyan;
}
.header__nav {
}
.header__link {
    margin: 0 5px;
    font-weight: bold;
    color: #61dafb;
    text-decoration: none;
}
.header__link:active{
    color: wheat;

}
